@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    font-family: "Inter";
    background-color: #222;
}

body{
    margin: 0px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

* a {
    text-decoration: none;
    color: white;
}

nav a {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 60px;
    transition: 0.17s ease-in-out;
}

nav a::after {
    color: white;
}

.underline {
    display: inline-block;
    position: relative;
}
  
.underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0px;
    left: 0;
    right: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rectangle {
    margin: 20px;
    width: 100%;
    height: auto;

    text-align: center;

    border-top: 1px solid white;
    border-bottom: 1px solid white;

    background-color: transparent;

    transition: 0.17s ease-in-out;
}

.rectangle h1{
    color: white;
    display: inline-block;
    font-size: 35px;
    transition: 0.17s ease-in-out;
    margin-bottom: 5px;
}

.red:hover {
    color: rgb(255, 119, 119);
}

.green:hover {
    color: rgb(92, 255, 86);
}

.blue:hover {
    color: rgb(0, 213, 255);
}

.purple:hover {
    color: rgb(203, 119, 255);
}

.yellow:hover {
    color: rgb(255, 226, 119);
}


.container #wip {
    font-size: 45px;
    color: skyblue;
}

.container #wiph2 {
    color: rgb(255, 226, 119);
}

.rectangle{
    background-color: rgb(37, 37, 37);
}

.rectangle a:hover{
    cursor: pointer;
}

.rectangle h4{
    color: rgb(197, 197, 197);
    font-weight: 400;
    letter-spacing: -1px;
}

.subheader {
    text-align: center;
    color: white;
}

.subheader h2 {
    font-weight: 700;
    font-size: 40px;
    margin-top: -10px;
    color: rgb(197, 197, 197);
}

footer {
    font-family: "Inter";
    letter-spacing: -1px;

    width: 100%;
    height: 50px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    background-color: #222;

    position: sticky;
    bottom: 0;

    color: white;
    font-size: 23px;
}

footer a{
    transition: color 0.17s ease-in-out;
}

footer a:hover{
    color:rgb(92, 255, 86);
    cursor: pointer;
}

@media (max-width: 400px) {
    nav a {
        font-size: 45px;
    }

    .subheader h2 {
        font-size: 35px;
    }

    .rectangle h1 {
        font-size: 25px;
    }

    .container #wip{
        font-size: 40px;
    }

}
